.sign-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}
.image-side img {
  width: 480px;
  max-width: 100%;
  border-radius: 10px;
}
.form-side {
  flex: 1;
  max-width: 420px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.subtitle {
  color: #666;
  margin: 5px 0 25px;
}

.input-row {
  display: flex;
  gap: 12px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fafafa;
  outline: none;
  font-size: 15px;
  transition: .3s;
}

input:focus {
  border-color: #ff4d4a;
  background: #fff;
  box-shadow: 0 0 8px rgba(255, 77, 74, 0.3);
}

.check-line {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 15px;
}

.sign-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #ff3b30;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.sign-btn:hover {
  background: #d62824;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #222;
  border-radius: 10px;
  margin-top: 12px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: .3s;
}

.google-btn:hover {
  background: #222;
  color: #fff;
}

.login-text {
  margin-top: 10px;
  font-size: 14px;
}

.login-text a {
  color: #ff3b30;
  font-weight: 600;
}
@media (max-width: 850px) {
  .sign-wrapper {
    flex-direction: column;
    padding: 30px 15px;
  }
  .image-side img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .form-side {
    max-width: 100%;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .input-row {
    flex-direction: column;
    gap: 10px;
  }

  input {
    padding: 12px;
    font-size: 14px;
  }

  .sign-btn, .google-btn {
    padding: 12px;
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .sign-wrapper {
    padding: 20px 10px;
  }

  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 13px;
  }

  input {
    padding: 10px;
    font-size: 13px;
  }

  .sign-btn, .google-btn {
    padding: 10px;
    font-size: 13px;
  }
}
